* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.page-grid {
    display: grid;
    grid-template-columns: 15vw 35vw 35vw 15vw;
    grid-template-rows: 10vh 10vh 27vh 27vh 27vh;
    background-color: gray;
}

/* Sidebar */

.sidebar {
    background-color: #1e92d4;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    color: white;
}

.logo {
    margin: 25px;
}

.sidebar-list {
    
}

li {
    margin: 25px;
    padding: 5px;
}

.sidebar-settings {
    margin-top: 40px;
}

/* Header */

.header {
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.searchbar {
    /* height: 20px;
    width: 500px; */
    background-color: #e2e8f0;
    grid-template-columns: 40px;
    grid-template-rows: 200px;
}

.welcome {
    grid-template-columns: 400px;
    grid-template-rows: 200px;
}

/* Main content */

.main-content {
    background-color: #e2e8f0;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.project-h1 {
    margin-left: 58px;
    margin-top: 25px;
    margin-bottom: -45px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 475px);
    grid-template-rows: repeat(3, 200px);
    padding: 50px;
}

.project-card {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-left: solid #f0b42a 8px;
    box-shadow: 2px 2px 5px;
}